@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.one{
    width: 33%;
    transition-property: width, background-color;
    transition-duration: 2s, 2s;
}

.one:hover{
  width: 50%;
  background-color: white;
}

.bigSquare{
  width: 1000px; 
  height: 200px;
  background-color: red;
}

