@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}


.one{
    width: 100px;
    height: 100px;
    background-color: red;
    transition-property: width, background-color;
    transition-duration: 2s, 2s;
}

.one:hover{
  width: 300px;
  background-color: blue;
}

.bigSquare{
  width: 1000px; 
  height: 200px;
  background-color: red;
}